<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Hacking Service</title>
</head>
<body>
    <div id="header">
        <div class="container">
            <h1 class="hack">hack<span class="logo"></span></h1>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h3>Our Services</h3>
            <table>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Account hacking</td>
                    <td>50$ ~ 0.00075฿TC ~ 18 T💎N (min)</td>
                </tr>
                <tr>
                    <td>DDoS attack</td>
                    <td>100$ ~ 0.0015฿TC ~ 26 T💎N (min)</td>
                </tr>
                <tr>
                    <td>Backend</td>
                    <td>30$ ~ 0.00045฿TC ~ 10.51527T💎N (min)</td>
                </tr>
                <tr>
                    <td>Frontend</td>
                    <td>23$ ~ 0.000345฿TC ~ 8.061707T💎N (min)</td>
                </tr>
                <tr>
                    <td>Website admin-hack</td>
                    <td>30$ ~ 0.00045฿TC ~ 10.51527T💎N (min)</td>
                </tr>
                <tr>
                    <td>Full stack website</td>
                    <td>15$ ~ 0.000225฿TC ~ 5.257635💎N (min)</td>
                </tr>
            </table>

            <!-- Form for Name and Email Submission -->
            <div class="form-container">
                <p class="conn">We will connect with you in 24 hours.</p>
                <p class="conn"> connect with us email: </p> <p class='mail'> ablaze.coder@proton.me </p>
            </div>
        </div>
    </div>

    <div class="clr"></div>
    <div id="footer">
        <p>&copy; ablaze.hack-all 2024</p>
    </div>
</body>
</html>
